.down_header {
  background-color: #EBEBEB;
  width: 100%;
  height: auto; // Auto height to accommodate content
  display: flex;
  justify-content: flex;
  align-items: flex-start;
  padding: 20px;
  box-sizing: border-box;
  font-size: 15px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #e0e0e0;
  }

  .column {
    flex: 1;
    margin: 0 px;
    text-align: left;
  }

  .first-column {
    margin-left: 209px;
  }

  h3,
  p {
    margin: 5px 0;
  }

  a {
    color: #000;
    text-decoration: none;
    display: block;
    margin-bottom: 19px;
    position: relative;
    transition: color 0.3s ease;

    &:hover {
      text-decoration: underline;
      color: #0056b3;
      transform: translateY(-2px);
    }
  }

  .catalog {
    margin-bottom: 19px;
    cursor: pointer;
    position: relative; // Required to position dropdown relative to this element

    .catalog-title {
      display: inline-block;
      transition: color 0.3s ease;
      position: relative;

      &:hover {
        color: #0056b3;
      }
    }

    .arrow {
      margin-left: 5px;
      transition: transform 0.3s ease; // Transition for the arrow
      display: inline-block; // Ensure it behaves like an inline element

      // Arrow styles for when the menu is open
      &.open {
        transform: rotate(180deg); // Rotate arrow when open
      }
    }

    .dropdown-menu {
      position: absolute; // Changed to absolute to position relative to .catalog
      top: 0; // Aligns with the top of the button
      left: 120px; // Positions it to the right of the button
      margin-left: 10px; // Adds some space between the button and the dropdown
      background-color: #fff;
      border: 1px solid #ccc;
      z-index: 1;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      padding: 10px 0;
      opacity: 0;
      height: 0;
      transition: opacity 0.3s ease, height 0.3s ease;
      overflow: hidden;

      &.open {
        opacity: 1;
        height: auto;
        transition: opacity 0.3s ease;
      }

      a {
        margin: 0;
        padding: 10px 20px;
        white-space: nowrap;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #f0f0f0;
          color: #0056b3;
        }
      }
    }
  }
}

.social-icons {
  margin-top: 10px; // Space above icons
  display: flex; // Align icons in a row
  gap: 10px; // Space between icons

  .social-icon {
    color: #000; // Default icon color
    font-size: 1.5em; // Icon size
    transition: color 0.3s; // Transition effect

    &:hover {
      color: #0056b3; // Change color on hover
    }
  }
}