.login_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  text-align: center;
}

.text_login {
  font-size: 25px;
  margin-bottom: 72px;
  font-family: 'Inter', sans-serif;
  white-space: nowrap;
}

.input_button_container {
  display: flex;
  flex-direction: column;
  /* Вертикальное расположение */
  width: 100%;
  /* Занимает полную ширину */
  border: 1px solid #ccc;
  /* Граница для прямоугольника */
  padding: 16px;
  /* Отступы внутри прямоугольника */
  border-radius: 8px;
  /* Скругленные углы */
}

.input_button_container InputField {
  margin-bottom: 16px;
  /* Отступ между InputField и Button */
}

.login_button {
  background: #EEEEEE;
  color: #000000;

  &:hover {
    background-color: #d3d3d3;
  }
}