.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  text-align: center;


}

.text-login {
  font-size: 48px;
  margin-bottom: 72px;
  font-family: 'Inter', sans-serif;
  white-space: nowrap;
}

.button-container {
  width: 100%;
  margin-bottom: 101px;
}

.password-reset {
  font-size: 20px;
}