.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
  box-sizing: border-box;
}

.navbar-left {
  margin-left: 209px;
}

.navbar-right {
  margin-right: 231px;
}

.navbar-link {
  margin-left: 55px;
  font-size: 15px;
  color: #333;
  text-decoration: none;
  font-weight: normal;
  position: relative;
  transition: color 0.3s ease, transform 0.3s ease;
}

.navbar-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #333;
  transition: width 0.3s ease;
  position: absolute;
  left: 0;
  bottom: -5px;
}

.navbar-link:hover {
  color: #007BFF;
  transform: translateY(-2px);
}

.navbar-link:hover::after {
  width: 100%;
}